
#container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 20px;
    margin-top: 20px;
    width: 100%;
    height: auto;
    
}

.parent-box{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 10px;

}

img{
    width: 100%;
    height: 200px;
    object-fit: contain;
} 

p{
    /* padding-left: 10px; */
    text-align: center;
    font-size: 13px;
}

.box2{
    display: flex;
    justify-content: space-between;
}

.box2>p:nth-child(2){
    text-decoration:line-through;
}

button{
    background-color: teal;
    padding:  5px;
    color: white;
    border-radius: 5px;
}